---
import { Icon } from 'astro-icon/components';
---

<section class="dark:bg-zinc-950 not-prose">
  <div class="max-w-6xl mx-auto px-2 sm:px-6 py-2 text-md text-center font-medium tooltip">
    Influenciados pela cultura japonesa, buscamos a simplicidade, o minimalismo e a organização como pilares das nossas
    soluções.
    <br />
    Dēta (データ) significa "dados" - "Kai" (海) significa "mar" ou "oceano".
  </div>
</section>
