---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { Image } from 'astro:assets';
import myImage from "../../src/assets/images/Cloud hosting-rafiki.png";

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="flex items-center justify-center w-full h-screen">
    <Hero
      actions={[
        {
          variant: 'primary',
          text: 'Contact us',
          href: 'mailto:',
          target: '_blank',
          icon: 'tabler:mail',
        },
        { text: 'Learn more', href: '#features' },
      ]}
    >
    
    <!-- image -->
     
      <Fragment slot="title">
       <!--  <div class="flex items-center justify-center ">
          <Image  class="flex items-center justify-center " width="320"
            src={myImage} alt="A description of my image." />
         </div> -->
        Entre no futuro dos grandes volumes de dados com a Detakai.
        
      </Fragment>
    
      <Fragment slot="subtitle">
        
        <span class="hidden sm:inline">
          Deixe seus dados trabalharem para você, escalando seus negócios e tornando decisões mais seguras e informadas.
          <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
          Entre em contato hoje e descubra como podemos ajudar seu negócio a crescer e se adaptar na era dos dados!
        </span>
      </Fragment>
    </Hero>
  </div>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Transforme dados em decisões inteligentes"
    subtitle="O volume de dados gerados pelas empresas é maior do que nunca, e extrair valor dessas informações pode ser a chave para o sucesso. Mas como estruturar e gerenciar esses dados de forma eficiente e estratégica? É aqui que a Detakai entra em ação."
    items={[
      {
        title: 'Deltalake',
        description:
          'Otimize a gestão de dados transacionais e garanta consistência',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Unity Catalog',
        description:
          ' Controle o acesso e a governança de dados em um só lugar',
        icon: 'tabler:components',
      },
      {
        title: 'DataLineage',
        description:
          'Acompanhe o ciclo de vida completo dos seus dados, da origem ao destino.',
        icon: 'tabler:list-check',
      },
      {
        title: 'DuckDB',
        description:
          'Uma solução rápida e moderna para consultas analíticas.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Apache Spark',
        description:
          "Escalabilidade para processar grandes volumes de dados de forma eficiente.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Machine Learning',
        description:
          'Potencialize seu Futuro com IA.',
        icon: 'tabler:bulb',
      },
    ]}
  />



  <!-- Features2 Widget ************** -->

  <Features2
    title="Data Lakehouse"
    subtitle="O Data Lakehouse é uma abordagem moderna para a gestão de dados que combina as melhores características dos Data Lakes e Data Warehouses. Combinando a escalabilidade e flexibilidade dos Data Lakes com a estrutura e governança dos Data Warehouses, o Data Lakehouse é a solução ideal para empresas que buscam extrair valor de grandes volumes de dados."
    tagline="Um Novo Nível de Gestão de Dados"

    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Marque uma reunião',
        href: 'mailto:',
        target: '_blank',
        icon: 'tabler:message-circle',
      },
    ]}
  >
    <Fragment slot="title">
     <span>Por que escolher a Detakai?</span>
    </Fragment>

    <Fragment slot="subtitle">
      A Detakai não é apenas uma consultoria de dados – somos parceiros estratégicos na transformação digital da sua empresa. Combinamos conhecimento técnico, inovação e um profundo entendimento de negócios para entregar resultados concretos que transformam dados em decisões poderosas.
    </Fragment>
  </CallToAction>
</Layout>
